#loginPage {
    display: grid;
    align-items: center;
    text-align: center;
    margin: 10px 300px;
    font-family: Roboto ;
}

h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.loginInput {
    margin: 10px auto;
    width: 350px;
    height: 50px;
}

.loginButton {
    margin: 10px auto;
    width: 350px;
    height: 50px;
    font-size: 20px;
    background-color:#861933;
    border-radius:  10px;
    border: none;
    color: whitesmoke;
    font-weight: bold;
}

.loginButton:hover {
    background-color: whitesmoke;
    color:#861933;
    cursor: pointer;
    

}